# Copyright (c) 2024 Panoramix Labs
# SPDX-License-Identifier: Apache-2.0

config BOARD_GROVE_VISION_AI
	select SOC_HX6538_CM55M if BOARD_GROVE_VISION_AI_HX6538_CM55M
	select SOC_HX6538_CM55S if BOARD_GROVE_VISION_AI_HX6538_CM55S
